html{/*блок html*/
    box-sizing: border-box;/*Свойства width и height включают в себя значения полей и границ*/
}
*,
*::before,/*применяется для отображения желаемого контента до содержимого элемента*/
*::after{/*используется для вывода желаемого текста после содержимого элемента*/
    box-sizing: inherit;/*Наследует значение родителя*/
}
body{/*блок body*/
    min-width: 320px;
    margin: 0;/*наружные отступы равны нулю*/
    background-color: #f9f9f9;/*цвет фона*/
    padding: 0;/*внутренние отступы равны нулю*/
	font-family:"Arial",sans-serif;/*шрифт Arial*/
    font-size: 14px;/*высота шрифта*/
    line-height: normal;/*межстрочный интервал) текста*/
    color: #000000;/*цвет текста*/
}
body.modal-active{/**/
    overflow: hidden;/**/
}
img{/*изображение*/
    max-width: 100%;/*ширина изображения сто процентов*/
}
a{/*ссылка*/
    text-decoration: none;/*отсутствует подчёркивание ссылки*/
}
.visually-hidden{/*Чтобы оставить элемент доступным, но при этом визуально спрятать*/
    position: absolute !important;/*абсолютное позиционирование*/
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 *//*определяет область позиционированного элемента*/
	clip: rect(1px, 1px, 1px, 1px);/**/
	padding:0 !important;/*внутренние отступы равны нулю*/
	border:0 !important;/*рамка элемента равна нулю*/
	height: 1px !important; /*высота элемента*/
	width: 1px !important; /*ширина элемента*/
	overflow: hidden;/*управляет отображением содержания блочного элемента. Отображается только область внутри элемента*/
}
.clearfix::after{/*может предотвратить наплыв других элементов поверх плавающих*/
    display: table;/*Определяет, что элемент является блочной таблицей подобно использованию тега <table>*/
    clear: both;/*Отменяет обтекание элемента одновременно с правого и левого края.*/
}
.container {/*центральный блок*/
	max-width: 1000px;/*ширина блока*/
    padding: 0;
	margin: 0 auto;/*установка блока в центре окна браузера*/
    overflow: hidden;
}